@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$bg-color: #222;
$color: #fff;
$font: "Poppins", sans-serif;
$bg-gradient: linear-gradient(45deg, #6a11cb, #2575fc);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin display-flex($justify-content, $align-items, $flex-direction, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    gap: $gap;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
    font-family: $font;
}

// Header Styles

header {
    width: 100%;
    background-color: $bg-color;
    color: $color;
    padding: 20px;
}

// Main Styles

main {
    @include display-flex(center, center, row, 20px);
    padding: 20px;

    a {
        color: #fff;
    }
    a:hover {
        color: yellowgreen;
    }
}

// Media Queries
@media screen and (max-width: 768px) {
    header {
        padding: 20px 10px
    }

    main {
        @include display-flex(flex-start, flex-start, column, 20px);
        padding: 20px 10px;
    }
}